# Flutter/Dart/Pub stuff
.dart_tool/
.packages
.pub/
build/
.melos_tool/

# iOS
ios/Flutter/.last_build_id
ios/Pods/
Podfile.lock

# Android
android/.gradle/
android/.idea/
android/local.properties

# Environment files
.env


node_modules/
build/
.dart_tool/
.env
.vscode/