# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
.melos_tool/

# Android
android/.gradle/
android/.idea/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/Flutter/.last_build_id
Podfile.lock

# Web
web/.dart_tool/

# VS Code
.vscode/

# Env files
.env

# Generated
coverage/
*.lock
*.log

# Mac / Linux / Windows OS files
.DS_Store
Thumbs.db
